// colors
$primary: #3EB57C;
$primary-light: linear-gradient(135deg, rgba(174.45, 227.85, 178.29, 0.30) 0%, rgba(149, 208, 161, 0.30) 100%);
$primary-btn: #95D0A1;
$main-font: #0b1739;
$main-font-disabled: rgba(11, 23, 56, 0.2);


@font-face {
  font-family: 'pt-root-ui';
  src: url('../../public/fonts/pt-root-ui_light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'pt-root-ui';
  src: url('../../public/fonts/pt-root-ui_regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'pt-root-ui';
  src: url('../../public/fonts/pt-root-ui_medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'pt-root-ui';
  src: url('../../public/fonts/pt-root-ui_bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body{
  font-family: 'pt-root-ui';
}

#catalog{
  padding: 96px 0;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding: 0 1rem;

  @media (min-width: 960px) {
    max-width: 852px;
    padding: 0;
  }

  @media (min-width: 1440px) {
    max-width: 1280px;
    padding: 0;
  }
}

.h1{
  color: $main-font;
  font-size: 54px;
  line-height: 55px;
  font-weight: 700;
  margin-bottom: 24px;

  @media (min-width: 1440px) {
    margin-bottom: 48px;
  }
}

.grid-2-1 {
  display: grid;
  grid-template-columns: 1.6fr 1fr;
  gap: 28px;

  @media (min-width: 1440px) {
    gap: 80px;
    grid-template-columns: 2fr 1fr;
  }
}

.filter-box{
  border-radius: 10px;
  padding: 20px;
  background: $primary-light;
  position: sticky;
  top: 96px;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media (min-width: 1440px) {
    padding: 40px;
  }

  & .ranges{
    font-size: 16px;
    line-height: 24px;
    color: rgba($main-font, 0.5);
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 6px;

    & span{
      color: rgba($main-font, 1);
      font-weight: 500;
    }
  }

  & .label{
    font-size: 14px;
    line-height: 20px;
    color: $main-font;
    margin-bottom: 8px;
  }

  & .clear-btn{
    border: none;
    width: fit-content;
    cursor: pointer;
    background: transparent;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 6px 16px;
    font-size: 14px;
    color: black;
    line-height: 20px;
  }
}

.room-btns {
  justify-items: center;
  display: flex;
  align-items: center;
  gap: 16px;

  & button{
    color: $main-font;
    height: 44px;
    cursor: pointer;
    font-size: 16px;
    width: 44px;
    border-radius: 100%;
    border: none;
    background: white;
    outline: none;


    
    &:hover{
      color: rgba($main-font, 0.5);
    }
    &:disabled{
      color: rgba($main-font, 0.2);
      cursor: not-allowed;
    }

    &.active{
      background:$primary;
      color: white;
      box-shadow: 0px 6px 20px $primary;
    }
  }
}

.vue-slider{
  padding: 5px 0 !important;

  & .vue-slider-rail{
    height: 3px;
    background-color: rgba($main-font, 0.1);
  }

  & .vue-slider-dot-handle{
    height: 14px;
    width: 14px;
    box-shadow: none;
    background-color: $primary;
    border-radius: 100%;
  }

  & .vue-slider-process{
    background-color: $primary;
  }
}

.apartments-header{
  padding: 8px 0;
  display: flex;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, max-content);

  @media (min-width: 1440px) {
    padding: 0 0 16px 0;
    display: grid;
    grid-template-columns: 80px 280px 120px 120px 120px;
    border-bottom: 1px solid rgba(black, 0.1);
    margin-bottom: 0;
  }

  & .static{
    display: none;

    @media (min-width: 1440px) {
      display: block;
    }
  }

  & .sortable{
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  & p{
    font-size: 14px;
    color: $main-font;
    line-height: 20px;
    font-weight: 400;
    
    &.active{
      color: $primary;
      font-weight: 500;
    }
  }

  svg.asc g:first-child path{
    fill: $primary;
    opacity: 1;
  }
  svg.desc g:last-child path{
    fill: $primary;
    opacity: 1;
  }
}

.apaetment-card{
  padding: 16px 24px;
  display: flex;
  gap: 20px;
  border-radius: 8px;
  border: 1px solid rgba(black, 0.1);
  margin: 4px 0 0 0;

  @media (min-width: 1440px) {
    margin: 0;
    padding: 16px 0 24px 0;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(black, 0.1);
  }


  & .info-block{
    gap: 16px 20px;
    order: 1;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    align-content: flex-start;

    @media (min-width: 1440px) {
      forder: 2;
      display: grid;
      grid-template-columns: 280px 120px 120px 120px;
      gap: 16px 20px;
      align-items: start; 
    }
  }

  & .img-block{
    width: 80px;
    order: 2;

    @media (min-width: 1440px) {
      order: 1;
    }

    & img{
      width: 80px;
      height: 80px;
    }
  }

  .col-title{
    width: 100%;
    height: fit-content;
  }

  & h4{
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color: $main-font;

    @media (min-width: 1440px) {
      font-size: 16px;
    }
  }

  & p{
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: $main-font;

    @media (min-width: 1440px) {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }
  }

  & .gray {
    color: rgba($main-font, 0.5);
  }
  & .unit {
    @media (min-width: 1440px) {
      display: none;
    }
  }
}

.not-found{
  font-size: 16px;
  font-weight: 500;
  color: rgba($main-font, 0.5);
}

.load-more-btn{
  padding: 8px 24px;
  border-radius: 100px;
  font-size: 15px;
  line-height: 24px;
  color: $main-font;
  border: 1px solid rgba($main-font, 0.2);
  background: transparent;
  font-weight: 500;
  cursor: pointer;
  margin-top: 48px;
  outline: none;

  &:hover{
    opacity: .7;
  }

  @media (min-width: 1440px) {
    font-size: 16px;
  }
}

.go-up-btn{
  position: fixed;
  bottom: 32px;
  right: 32px;
  color: $main-font;
  height: 40px;
  cursor: pointer;
  width: 40px;
  border-radius: 100%;
  border: none;
  background: $primary-btn;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;

  &:hover{
    opacity: 0.7;
  }
}




// troup
/* Анимация для вставки */
.apartments-enter-from,
.apartments-leave-to {
  opacity: 0;
  transform: translateY(20px);
}
.apartments-enter-to,
.apartments-leave-from {
  opacity: 1;
  transform: translateY(0);
}
.apartments-enter-active,
.apartments-leave-active {
  transition: all 0.3s ease;
}